<html>
<head>
    <title>Index page</title>
</head>
<style>
    #h11{font-family: cursive ;color:red}
    #h22{font-family: Calibri;color:green}
    h1{text-align: center}
    body{background-color: white}
    .cls1{background-color: deeppink;font-size: 40px}
    .cls2{background-color: aquamarine;font-family: "Arial Black"}
</style>
<body>
<h1 id="h11">Python Language</h1>
<h1 class="cls1 cls2">Django Database</h1>
<h1 id="h22">My sql database</h1>
<h1 class="clas2">UI technologies</h1>
<h1>REST API</h1>
</body>
</html>